body{
    margin:0;
}

@media(max-width:767px){
    header .logo h2{
        font-size:16px !important;
    }

    header ul li a{
        font-size: 12px !important;
    }
}
header{
    transition:.5s;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
    background: rgba(0, 0,0 , 0.2);
    height: 70px;
}

header:hover{
    transition:.5s;
    background: rgba(0,0,0,0.6);
}

header .header{
    height: 70px;
    max-width: 1100px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .logo{
    height: 70px;
    display: flex;
    align-items: center;
}

header a{
    text-decoration: none;
}

header a:focus{
    text-decoration: none;
}
header .logo img{
    width: 40px;
    height: 40px;
}

header .logo h2{
    color:white;
    margin:0 20px;
}

header ul{
    list-style: none;
    display: flex;
}

header ul li{
    margin-right:20px;
}

header ul li a{
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
    transition: .5s;
    color:white;
    text-decoration: none;
}

header ul li a:hover{
    padding-bottom: 10px;
    border-bottom: 1px solid #c50045;
    transition: .5s;
    color: #c50045;
}


.intro {
    height: 1000px;
    /* background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(../images/notification); */
    /* background-position: center;
    background-size: cover; */
    background:black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.intro .des{
    word-break: keep-all;
    font-family: 'Oswald', sans-serif;
    padding-left:50px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    padding-bottom:30px;
}

.intro .des img{
    width: 1000px;
    height:auto;
}

.intro .des .flex{
    color:white;
}


@media(max-width:767px){
    footer .container{
        display: unset !important;
        text-align: center;
    }
}
footer{
    padding:10px 20px;
    background:rgba(0,0,0,0.9);
}

footer .container{
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 1000px;
    margin-right:auto;
    margin-left:auto;
}

footer .container img{
    width: 50px;
    height:auto;
}

footer .container .right{
    padding:20px 30px;
}

footer .container .right h3{
    font-size: 18px;
    letter-spacing: 5px;
}

footer .container .right p{
    letter-spacing: 2px;
    opacity: .6;
    font-size: 12px;
}

footer .container .contact{
    padding: 50px 30px;
}

footer .container .contact a{
    opacity: 1;
    transition: .5s;
    padding:10px 10px;
    display: block;
    width: 100%;
    color:white;
    text-decoration: none;
    font-size:12px;
    letter-spacing: 1.5px;
}

footer .container .contact h2{
    letter-spacing: 5px;
    margin:0;
}

footer .container .contact .sub{
    letter-spacing: 3px;
    opacity: .6;
    margin-top: 1px;
}

footer .container .contact a i{
    margin-right: 20px;
}

footer .container .contact a:hover{
    background:#c50045;
    color:black;
    border-radius: 2px;
    transition: .5s;
}